
.plans-first-section {
  background-image: url('assets/images/home/home_1.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 461px;
}

.plans-first-content {
  padding: 200px 0 78px 130px;
}

.plans-first-content h1 {
  font-family: 'Segoe UI Bold';
  color: black;
  font-size: 68px;
  line-height: 90px;
}

.plans-second-section {
  max-width: 1658px;
  min-height: 970px;
  margin: 0 auto;
}

.plans-second-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 970px;
  width: 100%;
  margin-top: -140px;
  margin-bottom: 124px;
}

.plans-blocks {
  padding: 0 16px 70px;
  width: 24%;
  text-align: center;
  color: #58595B;
  -webkit-box-shadow: 0 8px 15px -9px rgba(0, 0, 0, 0.70);
  -moz-box-shadow: 0 8px 15px -9px rgba(0, 0, 0, 0.70);
  box-shadow: 0 8px 15px -9px rgba(0, 0, 0, 0.70);
  min-height: 970px;
  background: #F8F8F8;
}

.plans-blocks h1 {
  width: 100%;
  font-size: 30px;
  line-height: 95px;
  border-bottom: 1px solid #58595B;
  font-family: 'Segoe UI Bold';
  text-transform: uppercase;
}

.plans-goals {
  font-size: 20px;
  line-height: 27px;
  margin: 25px auto 0;
  width: 230px;
  font-family: 'Segoe UI Regular';
}

.plans-number {
  font-size: 82px;
  line-height: 109px;
  font-family: 'Segoe UI Bold';
}

.plans-number span {
  font-size: 38px;
  line-height: 51px;
  font-family: 'Segoe UI Regular';
}

.plans-free-btn {
  border: 1px solid #8DC63F;
  padding: 10px;
  color: #8DC63F;
  background: white;
  font-family: 'Segoe UI Semibold';
  border-radius: 36px;
  text-align: center;
  width: 229px;
  font-size: 22px;
  margin-top: 35px;
}

.plans-free-btn:hover {
  background: #5c941082;
  color: white;
}

.plans-by-now {
  margin-top: 20px;
  font-size: 20px;
  border-bottom: 1px solid #58595B;
  font-family: 'Segoe UI Semibold';
  color: #8DC63F;
  padding-bottom: 26px;
}

.plans-by-now span {
  color: #58595B;
}

.plans-blocks ul {
  text-align: left;
  margin-top: 34px;
  padding-left: 20px;
}

.plans-blocks ul li i {
  margin-right: 5px;
  color: #8DC63F;
}

.plans-blocks ul li {
  color: #58595B;
  font-size: 16px;
  font-family: 'Segoe UI Regular';
  line-height: 40px;
}

.plans-blocks-pro {
  background: #8DC63F;
  color: white;
}

.plans-blocks-pro h1 {
  border-bottom: 1px solid #fff;
}

.plans-blocks-pro .plans-by-now {
  color: white;
}

.plans-blocks-pro ul li {
  color: white;
}

.plans-blocks-pro ul li i {
  color: white;
}

.plans-blocks-pro .plans-by-now {
  border-bottom: 1px solid #fff;
}

.plans-secure {
  width: 50%;
  text-align: center;
}

.plans-secure h1 {
  font-size: 30px;
  font-family: 'Segoe UI Bold';
  line-height: 40px;
  text-transform: uppercase;
}

.plans-secure .line {
  width: 202px;
  background: #707070;
  height: 2px;
  margin: 27px auto;
}

.plans-secure p {
  width: 464px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Segoe UI Semibold';
  color: #58595B;
  margin: 0 auto;
}

.plans-secure-block {
  min-height: 500px;
  max-width: 1658px;
  margin: 0 auto;
  color: #58595B;
  padding-bottom: 20px;
}

.plans-secure-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plans-secure img {
  margin-bottom: 40px;
}

@media (max-width: 1700px) {
  .plans-second-content {
    justify-content: space-around;
  }
}

@media (max-width: 1400px) {
  .plans-blocks {
    width: 22%;
  }

}

@media (max-width: 1200px) {
  .plans-first-content {
    padding: 195px 0 0 50px;
  }
  .plans-first-content h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .plans-blocks {
    width: 45%;
    margin-bottom: 40px;
  }
  .plans-second-content {
    margin-bottom: 60px;
  }
}

@media (max-width: 992px) {
  .plans-first-content h1 {
    font-size: 50px;
  }
  .plans-first-content {
    padding: 200px 0 52px 20px;
  }
  .plans-secure p {
    width: 100%;
    font-size: 16px;
  }
  .plans-secure-block {
    min-height: 430px;
  }
  .plans-secure h1 {
    width: 250px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .plans-first-content h1 {
    font-size: 37px;
  }
  .plans-secure h1 {
    width: 200px;
    margin: 0 auto;
    font-size: 25px;
  }
  .plans-first-content {
    padding: 156px 0 67px 36px;
  }
  .plans-number {
    font-size: 70px;
    line-height: 80px;
    margin-top: 10px;
  }
  .plans-blocks h1 {
    width: 95%;
    font-size: 28px;
  }
  .plans-blocks {
    padding: 0 10px 70px;
  }
  .plans-goals {
    font-size: 16px;
    width: 100%;
  }
  .plans-number {
    font-size: 60px;
  }
  .plans-free-btn {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
  }
  .plans-by-now {
    margin-top: 15px;
    font-size: 18px;
    padding-bottom: 12px;
  }
  .plans-blocks ul {
    margin-top: 23px;
    padding-left: 0;
  }
  .plans-blocks ul li {
    font-size: 11px;
    line-height: 35px;
  }
  .plans-blocks {
    min-height: 800px;
  }
  .plans-blocks h1 {
    width: 100%;
    font-size: 20px;
  }
  .plans-secure p {
    width: 90%;
  }
  .plans-secure img {
    margin-bottom: 30px;
    /*width: 35%;*/
  }
  .plans-secure-content {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .plans-blocks {
    width: 94%;
  }
  .plans-first-content {
    padding: 120px 0 0 20px;
  }
  .plans-first-content h1 {
    font-size: 30px;
  }
  .plans-first-section {
    height: 310px;
  }
  .plans-blocks ul {
    padding-left: 10px;
  }
  .plans-secure {
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }
  .plans-secure-content {
    flex-wrap: wrap;
  }
  .plans-second-content {
    margin-bottom: 0;
  }
  .plans-secure img {
    padding-top: 10px;
    margin-bottom: 30px;
    width: 28%;
  }
  .plans-secure h1 {
    width: 100%;
    line-height: 13px;
    font-size: 20px;
  }
}
