<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a routerLink="/" class="navbar-brand logo ">
            <img src="assets/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-menu" id="navbarSupportedContent">
            <div class="menu-left">
                <a href="index.html" class="logo">
                    <img src="assets/images/logo.png">
                </a>
                <ul>
                    <li><a routerLink="/plans-pricing">Plans and Pricing</a></li>
                    <li><a routerLink="/"> How it Works</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                </ul>
            </div>
            <div class="menu-right">
                <a routerLink="/login">Login</a>
                <button>Start Free Trial</button>
            </div>
        </div>
    </nav>
</header>
