<section class="reset">
    <div class="login-content">
        <div class="login-left-side">
            <img src="assets/images/login-logo.png" routerLink="/">
            <h1>Welcome to<br>EDKOS</h1>
            <h6>Already have an account?</h6>
            <div class="w-100 text-center">
                <a class="login-left-side-signup" routerLink="/login">Login</a>
            </div>
        </div>
        <div class="login-right-side">
            <div class="login-right-side-content">
                <div class="login-right-side-man">
                    <img src="assets/images/document.png">
                </div>
                <form>
                    <h4>SIGN UP</h4>
                    <input class="login-right-side-email" placeholder="Full name" name="name">
                    <input class="login-right-side-email" placeholder="Email Address" name="email">
                    <div class="position-relative w-100">
                        <input class="login-right-side-password" placeholder="Password" name="password">
                        <img class="login-right-side-password-icon" src="assets/images/password-show.png">
                    </div>
                    <p class="reset-pass-must-characters">The password must be between 4 and 6 characters</p>
                    <div class="position-relative w-100">
                        <input class="login-right-side-password" placeholder="Retype Password" name="retype-password">
                        <img class="login-right-side-password-icon" src="assets/images/password-show.png">
                    </div>
                    <div class="d-flex">
                        <input type="checkbox" class="login-right-side-checkbox-input" name="checkbox" id="checkbox"
                               value="value">
                        <label class="login-right-side-checkbox" for="checkbox">I have accepted the <span> Term and Conditions</span></label>
                    </div>
                    <button class="login-left-side-signin">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
</section>
