
.help-first-section {
    background: url(../img/help-center.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 461px;
}
.help-second-section {
    max-width: 1658px;
    min-height: 1470px;
    margin: 0 auto;
}
.help-second-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -240px;
}
.help-second-left {
    width: 807px;
    padding: 0 33px;
    text-align: center;
}
.help-second-right {
    width: 851px;
}
.help-second-left h1 {
    font-size: 40px;
    margin-bottom: 34px;
    line-height: 53px;
    font-family: 'Segoe UI Regular';
    text-transform: uppercase;
    color: white;
    text-align: center;
}
form.help-search {
    width: 694px;
    border-radius: 11px;
    margin: 0 auto;
    margin-bottom: 190px;

}
form.help-search input {
    width: 555px;
    padding: 19px;
    font-size: 18px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    border: 2px solid white;
    background: transparent;
}
form.help-search button {
    width: 138px;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    border: 2px solid white;
    border-left: 0;
    background: #8DC63F;
    color: white;
    float: right;
    font-family: 'Segoe UI Bold';
    margin-left: -1px;
}
form.help-search input::placeholder {
    color: white;
}
.help-center-text {
    text-align: left;
    padding: 0 25px;
}
.help-center-text h2{
    font-size: 40px;
    margin-bottom: 58px;
    line-height: 53px;
    font-family: 'Segoe UI Bold';
    text-transform: uppercase;
    color: #58595B;
}
.freq-asked-quest p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 27px;
    font-family: 'Segoe UI Bold';
    color: #8DC63F;
}
.freq-asked-quest .card-header {
    text-align: right;
    padding: 0;
}
.freq-asked-quest .card-header i {
    font-size: 24px;
    color: #707070;
}
.freq-asked-quest .card-header i:hover {
    cursor: pointer;
}
.freq-asked-quest .card-header {
    background: transparent;
}
.help-center-collapse {
    text-align: left;
}

.freq-asked-quest {
    margin-bottom: 40px;
}
.freq-asked-quest .text {
    width: 518px;
    overflow: hidden;
    height: 50px;
    margin-right: 48px;
    line-height: 24px;
    font-size: 18px;
    font-family: 'Segoe UI Bold';
    color: #58595B;
}
.freq-asked-quest i {
    font-size: 23px;
    color: #58595B;
}
.freq-asked-quest i:hover {
    cursor: pointer;
}
.faq-toggle-text-hide {
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    width: 500px;
    -webkit-transition: width 2s;
    transition: width 2s;
}
.faq-toggle-text-show {
    width: 500px;
    height: auto;
    -webkit-transition: width 2s;
    transition: width 2s;
    -webkit-line-clamp: inherit;
}
.rotate {
    transform: rotateX(145deg);
}
.align-baseline {
    align-items: baseline;
}
.help-slack {
    width: 100%;
    height: 525px;
    margin-top: -134px;
    padding: 68px 167px 84px;
    background: #8DC63F;
    -webkit-box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.23);
    box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.23);
    text-align: center;
}
.help-slack-2 {
    width: 100%;
    height: 185px;
    padding: 68px 167px 84px;
    background: #8DC63F;
    -webkit-box-shadow: -1px -3px 7px -2px rgba(0,0,0,0.23);
    -moz-box-shadow: -1px -3px 7px -2px rgba(0,0,0,0.23);
    box-shadow: -1px -3px 7px -2px rgba(0, 0, 0, 0.23);
    text-align: center;
}
.help-slack img {
    margin-right: 15px;
}
.help-slack h2 {
    font-size: 20px;
    margin-top: 25px;
    line-height: 22px;
    font-family: 'Segoe UI Regular';
    text-transform: uppercase;
    color: white;
}
.help-slack  .workspace {
    width: 260px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Segoe UI Regular';
    color: white;
    margin: 15px auto;
}
form.get-invitation input  {
    width: 371px;
    height: 59px;
    line-height: 28px;
    margin-top: 27px;
    font-size: 20px;
    font-family: 'Segoe UI Regular';
    color: white;
    border-radius: 11px;
    padding: 19px;
    border: 2px solid white;
    background: transparent;

}
form.get-invitation input::placeholder {
    color: white;
}
.get-invitation-btn {
    width: 371px;
    height: 59px;
    line-height: 27px;
    margin-top: 27px;
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
    color: #8DC63F;
    border-radius: 28px;
    background: white;
}
.get-invitation-btn:hover {
    color: white;
    background: #5c941082;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
}
.help-slack-2 h2 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: 'Segoe UI Regular';
    text-transform: uppercase;
    color: white;
}
.help-slack-2 .phone{
    color: white;
}
.help-slack-2  span {
    font-size: 22px;
    font-family: 'Segoe UI Regular';
    line-height: 30px;
    margin-left: 10px;
}
.help-slack-2-content {
    text-align: left;
    padding: 0 100px;
    margin-bottom: 15px;
}
.help-slack-2-content h4 {
    font-size: 24px;
    margin-top: 55px;
    margin-bottom: 20px;
    font-family: 'Segoe UI Bold';
    line-height: 32px;
    color: #8DC63F;
}
@media (max-width: 1700px) {
    .help-slack {
        width: 76%;
        height: 478px;
        padding: 40px;
        margin: -100px auto 0;
    }
    .help-slack-2 {
        width: 76%;
        padding: 40px;
        margin: 0 auto;
    }
    .help-second-right, .help-second-left {
        width: 50%;
    }
    form.help-search {
        width: 100%;
    }
    form.help-search input {
        width: 80%;
    }
    form.help-search button {
        width: 20%;
    }
    .help-center-text h2 {
        font-size: 36px;
    }
}
@media (max-width: 1400px) {
    form.get-invitation input {
        width: 100%;
    }
    .get-invitation-btn {
        width: 100%;
    }
    .help-slack-2 {
        padding: 15px;
        height: 140px;
    }
    .help-slack img {
        width: 45%;
    }
    .help-slack-2 {
        width: 80%;
    }
    form.help-search {
        margin-bottom: 60px;
    }
    .help-center-text h2 {
        font-size: 30px;
        margin-bottom: 45px;
    }
    .help-slack {
        width: 80%;
    }
}
@media (max-width: 991px) {
    .help-second-content {
        flex-direction: column;
        align-items: center;
    }
    .help-second-right, .help-second-left {
        width: 80%;
        padding-top: 40px;
    }
    .help-slack img {
        width: 38%;
    }
    .help-second-content {
        margin-top: -340px;
    }
    form.help-search {
        margin-bottom: 190px;
    }
    .help-slack {
        margin: 0 auto;
    }
    .help-slack-2-content {
        margin-bottom: 50px;
    }
    .faq-toggle-text-hide {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .help-second-right, .help-second-left {
        width: 100%;
    }
    .help-slack, .help-slack-2 {
        width: 86%;
    }
    .help-slack-2-content {
        text-align: left;
        padding: 0 60px;
    }
    .help-second-left h1 {
        font-size: 36px;
        line-height: 40px;
    }
}
@media (max-width: 480px) {
    .help-second-left h1 {
        font-size: 30px;
    }
    form.help-search button {
        padding: 0;
        height: 69px;
        font-size: 15px;
        width: 40%;
    }
    form.help-search input {
        height: 69px;
        padding: 0 0 0 15px;
        font-size: 16px;
        width: 60%;
    }
    .help-center-text {
        padding: 0;
    }
    .help-center-text h2 {
        font-size: 25px;
        line-height: 38px;
    }
    .help-slack {
        padding: 50px 15px;
        height: 435px;
    }
    .help-slack .workspace {
        width: 100%;
    }
    form.get-invitation input, .get-invitation-btn {
        font-size: 16px;
        height: 48px;
    }
    .help-slack-2 h2 {
        font-size: 16px;
    }
    .help-slack-2 .phone img {
        width: 10%;
    }
    .help-slack-2 span {
        font-size: 18px;
    }
    .help-slack-2-content {
        text-align: center;
        padding: 0 24px;
    }
    .help-slack-2-content p {
        font-size: 16px;
    }
    .help-slack-2-content h4 {
        font-size: 22px;
        margin-top: 32px;
        margin-bottom: 15px;
    }
    .sixth-section button {
        width: 94%;
        height: 56px;
        line-height: 35px;
        font-size: 21px;
    }
    .sixth-section .text-block .text-2 {
        font-size: 55px;
        margin-bottom: 20px;
        line-height: 65px;
    }
    .sixth-section .text-block .text-1 {
        font-size: 28px;
    }
}