html, body, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

input, button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

button:hover, button:focus {
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: white;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    display: flex;
    align-items: center;
}

.menu-left .logo {
    margin-left: 40px;
}

.menu-left ul {
    margin-left: 166px;
    padding-top: 25px;
}

.menu-left ul li {
    float: left;
    margin-right: 20px;
}

.menu-left ul li a {
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
}

.menu-left ul li a:hover {
    border-bottom: 2px solid #8DC63F;
    text-decoration: none;
}

.menu-right {
    margin-top: 7px;
}

.menu-right a {
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
    color: #8DC63F;
}

.menu-right a:hover {
    text-decoration: none;
    border-bottom: 2px solid #8DC63F;

}

.menu-right button {
    background-color: #8DC63F;
    padding: 10px;
    color: white;
    font-family: 'Segoe UI Semibold';
    border-radius: 25px;
    margin-left: 61px;
    margin-right: 97px;
    width: 225px;
    font-size: 20px;
}

.home-first-section {
    background-image: url("../images/home/home_1.jpg");
    width: 100%;
    height: 835px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.home-first-content {
    margin-left: 40px;
}

.home-first-content h1 {
    font-family: 'Segoe UI Bold';
    color: black;
    font-size: 68px;
    line-height: 90px;
    width: 590px;
    padding-top: 140px;
}

.home-first-content h3 {
    margin: 30px 0;
    width: 690px;
    font-family: 'Segoe UI Bold';
    font-size: 30px;
    line-height: 40px;
    color: black;
}

.btn-block {
    position: relative;
}

.home-first-content img {
    margin-left: -40px;
    width: 770px;
}

.home-first-content button {
    width: 445px;
    height: 70px;
    line-height: 40px;
    font-size: 30px;
    font-family: 'Segoe UI Bold';
    border-radius: 36px;
    display: block;
    position: absolute;
}

.home-first-content .save {
    border: 2px solid white;
    color: white;
    top: 40px;
    background: transparent;
}

.home-first-content .free {
    background-color: white;
    color: #8DC63F;
    top: 140px;
}

.home-first-content .save:hover {
    border: 2px solid white;
    color: white;
    top: 40px;
    transition: 0.3s;
    background: #5c941082;
}

.home-first-content .free:hover {
    color: white;
    background: #5c941082;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
}

.home-second-section {
    height: 100px;
    background: #8DC63F;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-second-section .plans {
    font-size: 25px;
    font-family: 'Segoe UI Regular ';
    margin-left: 160px;
}

.home-second-section .learn-more {
    font-size: 25px;
    font-family: 'Segoe UI Semibold';
    margin-left: 45px;
    color: white;
}

.home-third-section {
    max-width: 1600px;
    height: 1078px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 300px;
    position: relative;
}

.home-third-section .block-1,
.home-third-section .block-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.home-third-section .block {
    width: 395px;
    height: 305px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #707070;
}

.home-third-section .content {
    text-align: center;
    width: 790px;
    height: 305px;
}

.home-third-section .content h2 {
    font-size: 40px;
    font-family: 'Segoe UI Bold';
    color: #58595B;
}

.home-third-section .content .line {
    background: #58595B;
    width: 200px;
    height: 3px;
    margin: 0 auto;
    margin-top: 10px;
}

.home-third-section .content p {
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
    color: #58595B;
    padding: 40px;
}

.home-third-section .modal {
    position: absolute;
}

.home-third-section .modal-backdrop {
    background-color: rgba(0, 0, 0, .0001) !important;
}

.home-third-section .modal-content {
    border-radius: 31px;
    min-width: 846px;
    margin: 0 auto;
    height: 450px;
    background: #F5F5F5;
    border-style: none;
}

.home-third-section .modal-dialog-centered {
    min-width: 846px;
}

.home-third-section .modal-content .text {
    padding: 60px;
    height: 343px;
}

.home-third-section .modal-content h1 {
    font-size: 37px;
    line-height: 49px;
    margin-bottom: 70px;
    font-family: 'Segoe UI Bold';
    color: #58595B;
}

.home-third-section .modal-content p {
    width: 327px;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 70px;
    font-family: 'Segoe UI Semibold';
}

.home-third-section .modal-content .mdl-footer {
    background: #58595B;
    height: 106px;
    border-bottom-right-radius: 31px;
    border-bottom-left-radius: 31px;
}

.mdl-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mdl-footer button {
    font-size: 22px;
    width: 240px;
    color: white;
    font-family: 'Segoe UI Semibold';
    background: transparent;
    margin-left: 60px;
    height: 50px;
    border: 2px solid white;
    margin-top: 20px;
}

.mdl-footer button i {
    margin-left: 20px;
}

.mdl-footer img {
    position: absolute;
    right: 12px;
    top: 171px;
}

.home-third-section .block:hover {
    background: #58595B;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.block-hover {
    background: #58595B;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.home-7 {
    background: url("../images/home/home_7.png");
    width: 122px;
    height: 137px;
}

.block-7:hover .home-7 {
    background: url("../images/home/home_7_hover.png");
}

.home-8 {
    background: url("../images/home/home_8.png");
    width: 113px;
    height: 137px;
}

.block-8:hover .home-8 {
    background: url("../images/home/home_8_hover.png");
}

.home-9 {
    background: url("../images/home/home_9.png");
    width: 129px;
    height: 137px;
}

.block-9:hover .home-9 {
    background: url("../images/home/home_9_hover.png");
}

.home-10 {
    background: url("../images/home/home_10.png");
    width: 137px;
    height: 137px;
}

.block-10:hover .home-10 {
    background: url("../images/home/home_10_hover.png");
}

.home-11 {
    background: url("../images/home/home_11.png");
    width: 137px;
    height: 137px;
}

.block-11:hover .home-11 {
    background: url("../images/home/home_11_hover.png");
}

.home-12 {
    background: url("../images/home/home_12.png");
    width: 137px;
    height: 137px;
}

.block-12:hover .home-12 {
    background: url("../images/home/home_12_hover.png");
}

.home-fourth-section {
    height: 428px;
    background: #8DC63F;
}

.home-fourth-section-blog {
    max-width: 1600px;
    margin: 0 auto;
    height: 428px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-fourth-section-content {
    position: relative;
    width: 50%;
}

.home-fourth-section-content img {
    position: absolute;
    top: -347px;
    width: 93%;
}

.home-fourth-section-text h3 {
    text-transform: uppercase;
    font-size: 44px;
    font-family: 'Segoe UI Semibold';
    color: white;
    line-height: 58px;
}

.home-fourth-section-text p {
    font-size: 20px;
    font-family: 'Segoe UI Semibold';
    color: white;
    padding: 30px 0;
}

.home-fourth-section-text {
    margin: 70px 0 60px 0;
    width: 50%;
}

.btn-app-play img {
    width: 139px;
}

.btn-app-play > a {
    margin-right: 20px;
}

.fifth-section {
    padding: 0 50px;
    min-height: 1400px;
    max-width: 1720px;
    margin: 180px auto;
}

.fifth-section .content .self-employ {
    background: #58595B;
    width: 960px;
    height: 413px;
    right: 0;
    padding: 40px 80px;
    position: absolute;
}

.fifth-section .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.self-employ h3 {
    font-size: 33px;
    line-height: 44px;
    font-family: 'Segoe UI Semibold';
    color: white;
}

.self-employ .line {
    width: 138px;
    margin-top: 24px;
    height: 2px;
    background: white;
}

.self-employ .people {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.self-employ .people img {
    margin-right: 40px;
}

.self-employ p {
    font-size: 22px;
    margin-top: 50px;
    font-family: 'Segoe UI Regular';
    color: white;
}

.fifth-section .learn-more-block {
    position: absolute;
    bottom: -145px;
    right: 0;
}

.fifth-section .content button {
    font-size: 22px;
    width: 240px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    background: white;
    height: 50px;
    border: 2px solid #58595B;
}

.fifth-section .content button:hover,
.fifth-section .second-content button:hover {
    color: white;
    background: #58595b;
    border: 2px solid #58595b;
    transition: 0.3s;
}

.fifth-section button i {
    margin-left: 20px;
}

.fifth-section .second-content {
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}

.fifth-section .second-content button {
    font-size: 22px;
    width: 240px;
    color: #58595B;
    font-family: 'Segoe UI Semibold';
    background: white;
    height: 50px;
    border: 2px solid #58595B;
}

.learn-more-block-2 {
    position: absolute;
    bottom: -145px;
    left: 0;
}

.fifth-section .second-content .self-employ {
    background: #58595B;
    width: 960px;
    height: 413px;
    padding: 40px 80px;
    position: absolute;
    left: 0;
}

.btn-position {
    position: relative;
}

.sixth-section {
    background: #8DC63F;
    min-height: 430px;
}

.sixth-section .content {
    min-height: 430px;
    max-width: 1658px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixth-section .text-block {
    width: 50%;
    text-align: right;
}

.sixth-section .sixth-block {
    width: 50%;
    text-align: center;
}

.sixth-section .text-block .text-1 {
    font-size: 35px;
    margin-bottom: 40px;
    font-family: 'Segoe UI Semibold';
    text-transform: uppercase;
    color: white;
}

.sixth-section .text-block .text-2 {
    font-size: 130px;
    margin-bottom: 45px;
    line-height: 134px;
    color: white;
    font-family: 'Segoe UI Semibold';
}

.sixth-section .text-block .text-3 {
    font-size: 35px;
    margin-bottom: 40px;
    font-family: 'Segoe UI Semibold';
    text-transform: uppercase;
    color: white;
}

.sixth-section .save {
    border: 2px solid white;
    color: white;
    background: transparent;
}

.sixth-section button {
    width: 445px;
    height: 70px;
    line-height: 40px;
    font-size: 30px;
    font-family: 'Segoe UI Bold';
    border-radius: 36px;
}

.sixth-section .free {
    background-color: white;
    color: #8DC63F;
    margin-top: 30px;
}

.sixth-block div {
    font-size: 15px;
    margin: 20px auto;
    font-family: 'Segoe UI Regular';
    color: white;
    width: 300px;
}

.sixth-section .save:hover {
    border: 2px solid white;
    color: white;
    top: 40px;
    transition: 0.3s;
    background: #5c941082;
}

.sixth-section .free:hover {
    color: white;
    background: #5c941082;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
}

.seventh-section {
    min-height: 540px;
    margin: 0 auto;
    margin-top: 90px;
    max-width: 1720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 2px solid #707070;
}

.seventh-section ul li {
    line-height: 33px;
    margin-top: 20px;
    color: #020B39;
}

.seventh-section ul li a {
    font-family: 'Segoe UI Regular';
    color: #020B39;
    font-size: 25px;
}

.seventh-section ul li:hover {
    color: #8DC63F !important;
    cursor: pointer;
    transition: 0.3s;
}

.seventh-section ul li a:hover {
    text-decoration: none;
    color: #8DC63F;
}

.seventh-section .first a {
    font-family: 'Segoe UI Bold';
    color: #020B39;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px auto;
    max-width: 1720px;
    padding: 0 70px;
}

.social-icons i {
    font-size: 37px;
    margin-right: 20px;
}

.footer-3 {
    height: 112px;
    background: #8DC63F;
    text-align: center;
    font-size: 33px;
    font-family: 'Segoe UI Regular';
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*About us*/
.about-info {
    text-align: center;
    padding-top: 100px;
}

.about-info p {
    width: 830px;
    margin: 0 auto;
}

.about .fifth-section {
    margin-top: 110px;
}

.about .self-employ .people {
    align-items: center;
}

.about .self-employ .people img {
    width: 52px;
}

.meet-team {
    max-width: 1637px;
    margin: 0 auto;
    min-height: 730px;
}

.meet-team h4 {
    font-size: 34px;
    text-transform: uppercase;
    font-family: 'Segoe UI Bold';
    color: #8DC63F;
    line-height: 46px;
    margin-bottom: 70px;
    text-align: center;
}

.meet-images {
    text-align: right;
    margin-bottom: 20px;
}

.meet-images img {
    width: 100%;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}

.meet-team h5 {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Segoe UI Bold';
    color: #8DC63F;
    line-height: 32px;
    margin-bottom: 5px;
    text-align: right;
}

.meet-block {
    height: 470px;
}

.meet-team h6 {
    font-size: 26px;
    font-family: 'Segoe UI Bold';
    color: #58595B;
    line-height: 35px;
    margin-bottom: 10px;
    text-align: right;
}

.meet-people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.show-mobile {
    display: none;
}

.block img {
    display: none;
}

.modal-content .close {
    font-size: 38px;
}

@media (max-width: 1700px) {
    .fifth-section .second-content {
        padding-left: 85px;
    }

    .home-third-section {
        height: 960px;
    }

    .home-third-section .block {
        width: 340px;
        height: 260px;
    }

    .home-third-section .content {
        text-align: center;
        width: 680px;
        height: 260px;
    }

    .home-third-section .block-1,
    .home-third-section .block-2 {
        justify-content: center;
    }

    .home-first-content h1 {
        font-size: 65px;
        margin-left: 16px;
    }

    .home-first-content h3,
    .home-first-content .save,
    .home-first-content .free {
        margin-left: 16px;
    }

    .home-second-section .plans {
        margin-left: 120px;
    }

    .meet-people {
        padding: 0 50px;
    }

    .meet-images img {
        width: 90%;
    }

    .home-fourth-section-content img {
        position: static;
        top: 0;
        width: 65%;
    }

    .home-fourth-section-content {
        position: static;
        text-align: center;
    }

    .home-fourth-section-text {
        padding: 0 35px;
    }
}

@media (max-width: 1400px) {
    .fifth-section .content .self-employ {
        right: 4%;
    }

    .home-third-section .block {
        width: 280px;
        height: 210px;
    }

    .home-third-section .content p {
        padding: 10px 2px;
        font-size: 16px;

    }

    .home-third-section .content h2 {
        font-size: 32px;
    }

    .home-third-section .content {
        text-align: center;
        width: 559px;
        height: 210px;
    }

    .home-third-section {
        height: 600px;
        padding: 100px 5px 5px 5px;
    }

    .home-fourth-section-content img {
        position: initial;
        top: 0;
        width: 80%;
        padding-left: 20px;
    }

    .menu-left a img {
        width: 200px;
    }

    .menu-left ul li a {
        font-size: 18px;
    }

    .menu-right a {
        font-size: 18px;
    }

    .menu-right a {
        font-size: 18px;
    }

    .menu-left ul {
        margin-left: 100px;
    }

    .menu-left .logo {
        margin-left: 60px;
    }

    .menu-right button {
        margin-right: 50px;
        margin-left: 50px;
    }

    .home-first-content h1 {
        font-size: 55px;
        line-height: 70px;
    }

    .home-first-content h3 {
        font-size: 25px;
        line-height: 35px;
    }

    .home-first-content button {

        height: 60px;
        font-size: 25px;
    }

    .sixth-section .text-block .text-2 {
        font-size: 100px;
        margin-bottom: 30px;
        line-height: 95px;
    }

    .sixth-section .text-block .text-1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .sixth-section .text-block .text-3 {
        font-size: 30px;
    }

}

@media (max-width: 1200px) {
    .meet-team {
        min-height: 630px;
    }

    .about .fifth-section {
        margin-top: 0;

    }

    .about-info {
        text-align: center;
        padding: 50px 50px;
    }

    .about-info p {
        width: 100%;
    }

    .learn-more-block-2 {
        position: absolute;
        bottom: -97px;
        left: 0;
    }

    .fifth-section .content .self-employ {
        width: 66%;
        height: auto;
        right: 106px;
        padding: 35px;
    }

    .about .fifth-section .content .self-employ {
        right: 0;
        top: 80px;
    }

    .fifth-section .second-content .self-employ {
        width: 66%;
        height: auto;
        padding: 35px;
    }

    .home-fourth-section-text h3 {
        font-size: 35px;
        line-height: 45px;
    }

    .menu-left a img {
        width: 70%;
    }

    .menu-left ul {
        margin-left: 16px;
    }

    .menu-left ul li a {
        font-size: 16px;
    }

    .menu-right a {
        font-size: 16px;
    }

    .menu-right button {
        margin-right: 30px;
        margin-left: 30px;
        font-size: 16px;
        width: 200px;
    }

    .home-second-section .plans {
        margin-left: 45px;
    }

    .sixth-section .text-block .text-2 {
        font-size: 78px;
        margin-bottom: 30px;
        line-height: 80px;
    }

    .sixth-section .text-block .text-3 {
        font-size: 22px;
    }

    .footer-list {
        width: 33%;
    }

    .seventh-section {
        padding: 0 40px 40px 40px;
        justify-content: flex-start;
    }
}

@media (max-width: 991px) {
    .about .self-employ .people img {
        width: 40px;
    }

    .self-employ h3 {
        font-size: 28px;
    }

    .self-employ p {
        font-size: 20px;
        margin-top: 30px;

    }

    .fifth-section .second-content .self-employ {
        width: 81%;
    }

    .fifth-section {
        margin: 80px auto;
    }

    .fifth-section .content .big-img {
        width: 100%;
    }

    .fifth-section .content .self-employ {
        width: 81%;
        height: auto;
        right: 10%;
        padding: 35px;
        top: 5%;
    }

    .home-fourth-section-text h3 {
        font-size: 27px;
        line-height: 33px;
    }

    .home-fourth-section-text p {
        font-size: 16px;
    }

    .btn-app-play img {
        width: 110px;
    }

    .home-third-section .modal-content h1 {
        font-size: 25px;
        line-height: 36px;
        margin-bottom: 36px;
    }

    .home-third-section .modal-content .text {
        padding: 30px;
        height: inherit;
    }

    .home-third-section .modal-content p {
        width: 100%;
        font-size: 19px;
        line-height: 28px;
    }

    .mdl-footer button {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .mdl-footer img {
        width: 40%;
        top: auto;
        bottom: 0;
        position: inherit;
    }

    .mdl-footer {
        flex-direction: column-reverse;
    }

    .home-third-section .modal-dialog-centered {
        min-width: 90%;
    }

    .home-third-section .modal-content {
        min-width: 80%;
    }

    .home-third-section .content p {
        padding: 7px;
    }

    .home-third-section {
        height: 600px;
    }

    .home-third-section .block {
        width: 320px;
        height: 200px;
    }

    .home-third-section .block img {
        width: 50%;
    }

    .home-third-section .content h2 {
        font-size: 29px;
        padding-top: 0;
    }

    .home-third-section .content p {
        font-size: 16px;
        padding-top: 10px;
    }

    .home-third-section .content {
        width: 640px;
        height: 200px;
    }

    nav {
        height: inherit;
        background-color: #f8f9fa !important;
        padding: 25px !important;
    }

    .menu-left .logo {
        display: none;
    }

    .navbar-brand img {
        width: 50%;
        margin-left: 0;
    }

    .nav-menu {
        flex-direction: column;
    }

    header {
        background-color: #f8f9fa;
    }

    .menu-left ul {
        margin-left: 0;
    }

    .menu-right button {
        margin-right: 0;
    }

    .menu-right {
        margin-top: 5px;
        flex-direction: column;
    }

    .home-first-content img {
        width: 685px;
    }

    .home-first-content button {
        width: 300px;
        font-size: 20px;
    }

    .home-first-content .free {
        top: 130px;
    }

    .sixth-section .content {
        flex-direction: column;
    }

    .sixth-section .text-block {
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }

    .sixth-section .sixth-block {
        width: 100%;
    }

    .footer-3 {
        height: 87px;
        font-size: 26px;
    }
}

@media (max-width: 840px) {
    .meet-images img {
        width: 75%;
    }

    .meet-people {
        justify-content: center;
    }

    .meet-images {
        text-align: center;
    }

    .about .fifth-section {
        min-height: 850px;
    }

    .about .fifth-section .content > img {
        display: none;
    }

    .about .fifth-section .second-content > img {
        display: none;
    }

    .fifth-section {
        min-height: 1024px;
    }

    .self-employ p {
        font-size: 20px;
    }

    .fifth-section .content .self-employ {
        width: 100%;
    }

    .fifth-section {
        margin: 80px auto;
        padding: 0 20px;
    }

    .fifth-section .second-content .self-employ {
        width: 100%;
    }

    .fifth-section .content {
        margin-bottom: 100px;
    }

    .fifth-section .second-content {
        padding-left: 0;
        margin-top: 0;
        align-items: end;
    }

    .fifth-section .content .self-employ {
        position: static;
    }

    .fifth-section .content .big-img {
        display: none;
    }

    .big-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .meet-block {
        height: 400px;
    }

    .about-info {
        padding: 40px 20px;
    }

    .self-employ p {
        font-size: 20px;
    }

    .self-employ .people img {
        margin-right: 24px;
        width: 32px;
    }

    .self-employ .people {
        align-items: center;
    }

    .self-employ h3 {
        font-size: 26px;
        line-height: 20px;
    }

    .home-fourth-section-content img {
        margin-top: 26px;
    }

    .home-fourth-section-content {
        width: 75%;
    }

    .home-fourth-section-text {
        margin: 35px 0 45px 0;
        width: 100%;
        text-align: center;
    }

    .home-fourth-section {
        height: 640px;
    }

    .home-fourth-section-blog {
        flex-direction: column;
    }

    .home-third-section .modal-content .text {
        padding: 23px;
    }

    .home-third-section .modal-dialog-centered {
        min-width: 320px;
        margin: 0 auto;
    }

    .home-third-section .modal-content .content {
        padding: 10px;
        height: auto;
    }

    .home-third-section .modal-content {
        width: 96%;
        height: auto;
    }

    .home-third-section .block:hover {
        background: transparent;
    }

    .block {
        box-sizing: content-box;
    }

    .block-1 .block-7 {
        border-right: 0 !important;
    }

    .block img {
        display: block;
    }

    .home-third-section .block-1,
    .home-third-section .block-2 {
        justify-content: center;
    }

    .home-third-section .block {
        width: 22%;
        height: 100px;
    }

    .home-7, .home-8, .home-9, .home-10, .home-11, .home-12 {
        display: none;
    }

    .home-third-section .content h2 {
        font-size: 27px;
    }

    .home-third-section .content p {
        font-size: 14px;
    }

    .home-third-section .content {
        width: 100%;
        height: auto;
    }

    .show-desktop {
        display: none;
    }

    .show-mobile {
        display: block;
        margin-bottom: 50px;
    }

    .footer-3 {
        height: 67px;
        font-size: 19px;
    }

    .home-second-section .plans {
        font-size: 20px;
        margin-left: 20px;
    }

    .home-second-section .learn-more {
        font-size: 20px;
        margin-left: 20px;
    }

    .home-first-content img {
        width: 100%;
        height: 230px;
        margin-left: 0;
        background: #8dc63f;
    }

    .home-first-content {
        margin-left: 0;
    }

    .home-first-content .save,
    .home-first-content .free {
        margin-left: 60px;
    }

    .home-first-content h1 {
        margin-left: 60px;
        font-size: 45px;
        width: 420px;
        line-height: 50px;
    }

    .home-first-content h3 {
        font-size: 22px;
        margin: 45px 60px;
        width: 370px;
        line-height: 30px;
    }

    .footer-list {
        width: 50%;
    }

    .footer-2 {
        padding: 0 20px;
    }

    .social-icons i {
        font-size: 33px;
        margin-right: 12px;
    }

    .btn-app-play img {
        width: 100px;
    }

    .social-icons {
        display: flex;
    }
}

@media (max-width: 600px) {
    .about .fifth-section {
        min-height: 1000px;
    }
}

@media (max-width: 480px) {
    .meet-images img {
        width: 85%;
    }

    .meet-team h4 {
        padding-top: 40px;
        font-size: 27px;
        line-height: 10px;
    }

    .meet-team h5 {
        font-size: 20px;
    }

    .meet-team h6 {
        font-size: 23px;
    }

    .about .fifth-section {
        min-height: 1070px;
    }

    .about .self-employ .people img {
        width: 30px;
    }

    .fifth-section .second-content .self-employ {
        padding: 20px 10px;
    }

    .about .fifth-section .content {
        margin-bottom: 40px;
    }

    .about .fifth-section .second-content {
        min-height: inherit;
    }

    .fifth-section {
        min-height: 1034px;
    }

    .fifth-section .second-content {
        min-height: 700px;
    }

    .fifth-section .second-content button {
        width: 100%;
    }

    .learn-more-block-2 {
        width: 100%;
    }

    .fifth-section .content .self-employ {
        padding: 20px 10px;
    }

    .self-employ p {
        font-size: 18px;
        margin-top: 12px;
    }

    .second-content .learn-more-block {
        width: 85%;
    }

    .self-employ .people img {
        margin-right: 0;
        width: 32px;
    }

    .self-employ p {
        text-align: center;
    }

    .self-employ h3 {
        font-size: 22px;
        line-height: 24px;
        margin-top: 21px;
    }

    .self-employ .line {
        width: 100%;
    }

    .fifth-section .learn-more-block {
        bottom: -118px;
        width: 100%;
    }

    .fifth-section .content button {
        width: 100%;
    }

    .self-employ .people {
        flex-direction: column;
    }

    .mdl-footer button {
        font-size: 19px;
    }

    .home-third-section .modal-content p {
        margin-bottom: 40px;
    }

    .home-third-section .block {
        width: 22%;
        height: 74px;
    }

    .home-third-section {
        height: 480px;
    }

    .home-third-section {
        padding: 28px 5px 5px 5px;
    }

    .footer-2 {
        margin: 12px auto;
    }

    .footer-3 {
        height: 42px;
        font-size: 12px;
    }

    .home-second-section {
        padding: 10px 0;
    }

    .home-second-section .plans {
        font-size: 16px;
    }

    .home-second-section .learn-more {
        font-size: 16px;
    }

    .home-first-section {
        height: 670px;
    }

    .navbar-light .navbar-brand {
        width: 70%;
    }

    .menu-left ul li {
        margin-right: 11px;
    }

    .menu-left ul li a {
        font-size: 14px;
    }

    .menu-right button {
        font-size: 14px;
    }

    .menu-right a {
        font-size: 14px;
    }

    .home-first-content h1 {
        margin: 0 5px;
        text-align: center;
        font-size: 30px;
        width: inherit;
        line-height: 40px;
    }

    .home-first-content h3 {
        font-size: 18px;
        width: inherit;
        text-align: center;
        margin: 40px 5px;
    }

    .home-first-content button {
        width: 258px;
        font-size: 17px;
    }

    nav {
        padding: 15px !important;
    }

    .home-first-content .save,
    .home-first-content .free {
        margin-left: 0;
    }

    .btn-block {
        display: flex;
        justify-content: center;
    }

    .seventh-section ul li {
        line-height: 21px;
    }

    .seventh-section {
        padding: 0 24px 24px 24px;
        margin-top: 18px;
    }

    .seventh-section ul li a {
        font-size: 16px;
    }

    .sixth-section .content {
        padding: 0 24px;
    }

    .sixth-block div {
        width: 100%;
    }

    .social-icons i {
        font-size: 26px;
        margin-right: 6px;
    }

    .btn-app-play img {
        width: 75px;
    }

    .btn-app-play > a {
        margin-right: 8px;
    }
}

@media (max-width: 380px) {
    .fifth-section .second-content {
        min-height: 870px;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        display: none;
    }
}
